.service:after {
  content: "";
  display: block;
  clear: both;
}

span {
  font-style: italic;
  font-weight: bold;
}

.service h2, .service p {
  color: #999;
  margin: 10px 0;
  text-align: center;
}

.service {
  float: left;
  background: #eee;
  width: 29.33%;
  padding: 1%;
  margin: 1%;
  height: 140px;
  position: relative;
}

.service:nth-child(1) {
  top: 15px;
}

.service:nth-child(2) {
  top: 20px;
}

.service:nth-child(3) {
  top: 15px;
}

.content {
  padding: 10px;
  background: #ccc;
  margin-top: 5px;
}

section, aside {
  float: left;
  width: 46%;
  padding: 1%;
  margin: 1%;
  backgroun: #f2f2f2;
}

.columns:after {
  display: block;
  content: "";
  clear: both;
}

banner {
  max-height: 300px;
  overflow: hidden;
  margin: 1%;
}

#banner {
  max-height: 300px;
  overflow: hidden;
  margin: 1%;
  position: relative;
}

#banner h2 {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  color: #fff;
}

footer {
  background-color: #ffcccc;
  width: 100%;
  text-align: center;
}
