.service:after{
    content: "";
    display: block;
    clear: both;
}
.service h2, .service p{
    color: #999;
    margin: 10px 0;
    text-align: center;
}
.service{
    float: left;
    background: #eee;
    width: 29.33%;
    padding: 1%;
    margin: 1%;
    height: 140px;
    position: relative;
}
.service:nth-child(1){
    top: 15px;
}
.service:nth-child(2){
    top: 20px;
}
.service:nth-child(3){
    top: 15px;
}

.content{
    padding: 10px;
    background: #ccc;
    margin-top: 5px;
}
section, aside {
    float: left;
    width: 46%;
    padding: 1%;
    margin: 1%;
    backgroun #f2f2f2;
}
.columns:after{
    display: block;
    content: "";
    clear: both;
}banner{
    max-height: 300px;
    overflow: hidden;
    margin: 1%;
}
#banner{
    max-height: 300px;
    overflow: hidden;
    margin: 1%;
    position: relative;
}
#banner h2{
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

/*  index.html styles End */
fieldset{
}

 /* Triangle Tracker styles Start  */

  .ttcontainer h2{

  }
  button {
    width: 100px;
    height: 50px;
  }
  input {
    width: 150px;
  }
  input:invalid {
    border: 2px dashed red;
  }
  input:valid {
    border: 2px solid black;
  }
  label {
    width: 100px;
    font-size: 20px;
  }
  fieldset {
    font-size:12px;
    padding:10px;
    width:550px;
    line-height:1.8;
  }

/* Triangle Tracker styles Start  */

/* img {
  float: right;
  margin-top: 10px;
  width: 150px;
  height: 150px;
} */

/*
.main-wrapper-first {
  width: 68.75%;
  margin: 0 auto;
  margin-top: 6rem;
}

@media (min-width: 1200px) {
  .main-wrapper-first {
    width: 75%;
  }
}

@media (max-width: 1199px) {
  .main-wrapper-first {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .main-wrapper-first {
    margin-top: 3rem;
    width: 97%;
  }
} */
