body {
  background: #555;
  background-image: url("../images/daud1.jpeg");
}

.ttcontainer {
  max-width: 600px;
  margin: 200px;
  background: white;
  padding: 10px;
}

.triangleTriangleSide2 {
  float: right;
  font-size: 100%;
  font-style: oblique;
}

button {
  width: 100px;
  height: 50px;
}

input {
  width: 150px;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

label {
  width: 100px;
  font-size: 20px;
}

fieldset {
  font-size: 22px;
  padding: 10px;
  width: 550px;
  line-height: 1.8;
  background-repeat: no-repeat;
}
